# shellcheck shell=bash

# This file is automatically sourced by bash, and it's also sourced in .zshrc
# in order to keep the same aliases on both shells. So keep in mind that any
# code here must be compatible with bash and zsh.

# Merge all ~/.kube/*.kubeconfig.yaml into ~/.kube/config
merge-kubeconfigs() {
  # shellcheck disable=SC2312
  KUBECONFIG="$(printf '%s:' "${HOME}"/.kube/*.kubeconfig.yaml | sed 's/:$//')" kubectl config view --flatten | tee "${HOME}/.kube/config"
}

# {{ if .is_wsl }}
gsudo() {
  local shell

  shell=$(ps -p $$ -ocomm=) &&
    gsudo.exe wsl -d "${WSL_DISTRO_NAME?}" -e "${shell}" "-c" "$*"
}

cdw() {
  local user_profile
  local win_home

  user_profile=$(wslvar USERPROFILE) &&
    win_home=$(wslpath "${user_profile}") &&
    cd "${win_home}"
}
# {{ end }}

## Start Aliases ------------------------------------------		

# update OS
alias up='sudo apt update && sudo apt upgrade -y'
alias upsdk='sdk selfupdate force'
alias upbrew='brew update && brew upgrade && brew cleanup'

alias uuid="uuidgen | tr '[:upper:]' '[:lower:]'"

# Launch NeoVim
alias nv=$(which nvim)

alias c=clear
alias e=exit

# Launch bat(cat)
alias cat=bat

# Use eza over native ls https://github.com/eza-community/eza
alias ls='eza'
alias l='ls -l --icons --header --git-ignore'
alias ll='ls -l -a --icons --header --git --git-repos'
alias lt='ls -Tl 2'

# some more ls aliases
#alias ll='ls -alF'
#alias la='ls -A'
#alias l='ls -CF'

# https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/git
alias gst='git status'
# git pull recursively
alias gif='find . -type d -name ".git" -print -exec git -C $PWD/{}/../ pull origin master \;'
# alias gif='find . -maxdepth 2 -type d -name ".git" -print -exec git -C $PWD/{}/../ fetch origin \;'
# alias gpms='find . -maxdepth 2 -type d -name ".git" -print -exec git -C $PWD/{}/../ pull origin master \;'

# Recursively searches directories and sub-directories for GIT repo.
# For each repo found, prints local repo disk size and size reported by Git
gsize() {
	for i in **/**; do
		if [[ -d $i/.git ]]; then
			(
				cd "$i" || return
				echo "$i,$(du -s .git | awk '{ print $1 }'),$(git count-objects -v | grep 'size-pack' | awk '{ print $2 }'),$(git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@')"
			)
		fi
	done
}

# git
alias g='git'

# gradle
alias gr='gradle'
alias grw='./gradlew'

# kubernetes
alias k='kubectl'
alias kct="kubectx"
alias kns="kubens"

# Docker Aliases
alias d='docker'
alias doi='docker image'
alias doc='docker container'
alias dc='docker compose'
alias doe="docker exec -it"

# Simple Alias for Lazy Git
alias lg='lazygit'

# open ~/.zshrc in using NeoVim 
alias ezsh='nv ~/.zshrc'

# source ~/.zshrc
alias szsh='source ~/.zshrc'

# list SDKman installed Java
alias sdk_ls_java='sdk list java | grep -e installed -e local'

## End Aliases ------------------------------------------		