{{ template "windows-ps-library" }}

Install-With-Winget -PackageName "ShareX.ShareX"
Install-With-Winget -PackageName "Docker.DockerDesktop"
Install-With-Winget -PackageName "FastStone.Viewer"
Install-With-Winget -PackageName "Notepad++.Notepad++"
Install-With-Winget -PackageName "Ghisler.TotalCommander"
Install-With-Winget -PackageName "twpayne.chezmoi"
Install-With-Winget -PackageName "OpenJS.NodeJS.LTS"
Install-With-Winget -PackageName "Meld.Meld"
