#!/bin/bash

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above include
true || source ../.chezmoitemplates/scripts-library

if ! sdk version &>/dev/null; then
  log_task "Installing SDKMAN!"

  sdkman_install_script=$(curl -fsSL "https://get.sdkman.io?ci=true")
  bash -c "${sdkman_install_script}"
fi

java_version="24"
identifier="$(sdk list java | grep --only-matching --max-count 1 --extended-regexp "\b${java_version}.[0-9]+.[0-9]+(.[0-9]+)?-graalce\b")"
if ! sdk current java | grep -q "${identifier}"; then
  log_task "Installing Java ${java_version} with SDKMAN!"
  c sdk install java "${identifier}"
  c sdk default java "${identifier}"
fi