#!/bin/bash

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above include
true || source ../.chezmoitemplates/scripts-library

log_task "Finalize NeoVim as IDE"

nvim --headless -c 'quitall'