#!/bin/bash

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above include
true || source ../.chezmoitemplates/scripts-library

# Check if SDKMAN is NOT installed and the 'sdk' command is NOT found
if [[ ! -d "$HOME/.sdkman/bin" && -z "$(type -t sdk)" ]]; then
  log_task "Installing SDKMAN!"

  sdkman_install_script=$(curl -fsSL "https://get.sdkman.io?rcupdate=false")
  bash -c "${sdkman_install_script}"
fi
