#!/bin/bash

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above included library
true || source ../.chezmoitemplates/scripts-library

log_task "Update package index and get latest packages"

c sudo apt update
c sudo apt upgrade --yes
